---
Language: Cpp
UseTab: AlignWithSpaces

# should be equal:
ContinuationIndentWidth: 4
IndentWidth: 4
TabWidth: 4

AccessModifierOffset: -4

AlignAfterOpenBracket: BlockIndent
AlwaysBreakTemplateDeclarations: "Yes"
PointerAlignment: Left
AllowShortCaseLabelsOnASingleLine: yes
IndentCaseLabels: yes
IndentGotoLabels: yes
IndentPPDirectives: BeforeHash
AllowShortEnumsOnASingleLine: yes
AllowShortBlocksOnASingleLine: Always